.project__modal__frame {
  /* background: var(--eerie-black-2); */
  background: var(--transparent);
  /* position: relative;
  padding: 15px;
  margin: 15px 12px; */
  /* border: 1px solid var(--jet);
  border-radius: 14px;
  box-shadow: var(--shadow-5); */
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition-1);
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project__modal.active .project__modal__frame {
  transform: scale(1);
  opacity: 1;
  max-width: 100vw;
  max-height: 100vh;
}