.about__modal__testimonials {
  background: var(--eerie-black-2);
  position: relative;
  padding: 15px;
  margin: 15px 12px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  box-shadow: var(--shadow-5);
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition-1);
  z-index: 2;
}

.about__modal.active .about__modal__testimonials {
  transform: scale(1);
  opacity: 1;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 580 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 580px) {

  .about__modal__testimonials {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
    padding: 30px;
    border-radius: 20px;
  }

}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 768 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 768px) {

  .about__modal__testimonials {
    gap: 35px;
    max-width: 680px;
  }

}