.about__testimonials__list__item__card__avatar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-1);
}

.about__testimonials__list__item__card__avatar img {
  width: 60px;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 580 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 580px) {

  .about__testimonials__list__item__card__avatar {
    transform: translate(30px, -30px);
    border-radius: 20px;
  }

  .about__testimonials__list__item__card__avatar img {
    width: 80px;
  }

}