.about__service__list__item__content {
  text-align: center;
}

.about__service__list__item__content h4 {
  margin-bottom: 7px;
}

.about__service__list__item__content p {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 580 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 580px) {

  .about__service__list__item__content {
    text-align: left;
  }

}