.about__service__list__item__content {
  text-align: center;
}

.about__service__list__item__content h4 {
  margin-bottom: 7px;
}

.about__service__list__item__content p {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  box-orient: vertical;
  -webkit-box-orient: vertical;
}

.about__service__list__item__content button {
  color: var(--orange-yellow-crayola);
  float: right;
  font-size: var(--fs-8);
}

.about__service__list__item__content p.active {
  line-clamp: initial;
  -webkit-line-clamp: initial;
  overflow: visible;
	transition: var(--transition-2);
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 580 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 580px) {

  .about__service__list__item__content {
    text-align: left;
  }

}