.about__modal__testimonials__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--onyx);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-2);
  font-size: 18px;
  opacity: 0.7;
}

.about__modal__testimonials__close:is(:hover, :focus) {
  opacity: 1;
}

.about__modal__testimonials__close ion-icon {
  --ionicon-stroke-width: 50px;
}