.sidebar__content__title {
  color: var(--white-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  /* letter-spacing: -0.25px; */
  margin-bottom: 15px;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 580 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 580px) {

  .sidebar__content__title {
    margin-bottom: 15px;
  }

}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 1250 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 1250px) {

  .sidebar__content__title {
    white-space: nowrap;
    text-align: center;
  }

}