/*----------------------------------------*\
  FONT-FACE
\*----------------------------------------*/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura/FuturaPTLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura/FuturaPTBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura/FuturaPTMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura/FuturaPTBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


/*----------------------------------------*\
  CUSTOM PROPERTY
\*----------------------------------------*/

:root {

  /** === COLORS === **/

  /* GRADIENT */
  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    #3f3f40 3%, 
    #303030 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    #2d2d2e40 0%, 
    #1b1b1d00 100%
  ), #202022;
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    #ffda6b 0%, 
    #ffc06100 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    #ffda6b40 0%, 
    #ffbb5c00 59.86%
  ), #202022;
  --bg-gradient-yellow-70: linear-gradient(
    to bottom right, 
    #ffda6bb3 0%, 
    #ffc061b3 50%
  );
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    #404040 0%, 
    #40404000 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    #ffdb70, 
    #ffbb5c
  );

  /* SOLID */
  --jet: #383838;
  --onyx: #35393c;
  --onyx-70: #35393bb3;
  --eerie-black-1: #202022;
  --eerie-black-2: #1e1e1f;
  --smoky-black: #121212;
  --white-1: #ffffff;
  --white-2: #fafafa;
  --orange-yellow-crayola: #ffdb70;
  --vegas-gold: #ceb15a;
  --light-gray: #e3dac9;
  --light-gray-70: #e3dac9b3;
  --bittersweet-shimmer: #b84c4c;
  --bittersweet-shimmer-70: #b84c4cb3;
  --transparent: #ffffff00;

  /* CLIENT CUSTOM COLORS */
  --custom-black: #000000;
  --custom-onyx: #35393c;
  --custom-gray: #757978;
  --custom-bone: #e3dac9;


  /** === TYPOGRAPHY === **/

  /* FONT-FAMILY */
  --ff-futura: 'Futura PT', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  /* FONT-SIZE */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;
  --fs-9: 10px;
  --fs-10: 8px;

  /* FONT-WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;


  /** === SHADOW === **/

  --shadow-1: -4px 8px 24px #00000040;
  --shadow-2: 0 16px 30px #00000040;
  --shadow-3: 0 16px 40px #00000040;
  --shadow-4: 0 25px 50px #00000026;
  --shadow-5: 0 24px 80px #00000040;


  /** === TRANSITION === **/

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}


html {
  /* font-family: var(--ff-poppins); */
  font-family: var(--ff-montserrat);
  /* font-family: var(--ff-futura); */
  letter-spacing: 0.5px;
}

.body {
  background: var(--smoky-black);
}

.body::-webkit-scrollbar {
  width: 20px;
}

.body::-webkit-scrollbar-track {
  background: var(--smoky-black);
}

.body::-webkit-scrollbar-thumb {
  border: 5px solid var(--smoky-black);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.body::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.15);
}

.body::-webkit-scrollbar-button {
  height: 60px;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 580 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 580px) {

  /*----------------------------------------*\
    CUSTOM PROPERTY
  \*----------------------------------------*/

  :root {

    /** === TYPOGRAPHY === **/

    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;

  }

}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 1024 PX SCREEN
\*----------------------------------------*/

@media (min-width: 1024px) {

  /*----------------------------------------*\
    CUSTOM PROPERTY
  \*----------------------------------------*/

  :root {

    /** === SHADOW === **/

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);

  }

}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 1250 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 1250px) {

  /*----------------------------------------*\
    RESET
  \*----------------------------------------*/

  .body::-webkit-scrollbar {
    width: 20px;
  }

  .body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  .body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  .body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  .body::-webkit-scrollbar-button {
    height: 60px;
  }

}