.portfolio__filter-select__btn {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.portfolio__filter-select__btn.active div:nth-child(2) {
/* .portfolio__filter-select__btn.active .select-icon { */
  transform: rotate(0.5turn);
}