.portfolio__project{
  gap: 0.5rem;
  padding: 0.5rem;
  column-count: 2;
  --webkit-column-count: 2;
  --moz-column-count: 2;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 768 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 768px) {

  .portfolio__project{
    gap: 1rem;
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }

}