.portfolio__filter-select__list__item button {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.portfolio__filter-select__list__item button:hover {
  --eerie-black-2: #323234;
}