.portfolio__filter-list {
  display: none;
}

.portfolio__filter-select {
  position: relative;
  margin-bottom: 25px;
}

.portfolio__filter-select__list {
  background: var(--eerie-black-2);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.portfolio__filter-select__btn.active + .portfolio__filter-select__list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 768 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 768px) {

  .portfolio__filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 20px;
    padding-left: 5px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .portfolio__filter-select {
    display: none;
  }

}
