.portfolio__filter-list__item button {
  text-transform: capitalize;
}


/*----------------------------------------*\
  RESPONSIVE LARGER THAN 768 PX SCREEN
\*----------------------------------------*/

@media screen and (min-width: 768px) {

  .portfolio__filter-list__item button {
    color: var(--light-gray);
    font-size: var(--fs-5);
    transition: var(--transition-1);
  }

  .portfolio__filter-list__item button:hover {
    color: var(--light-gray-70);
  }

  .portfolio__filter-list__item button.active {
    color: var(--orange-yellow-crayola);
  }

}